<h1>Inbox</h1>
<% @received_messages.each do |message| %>
<% message.status = true %>
<% end %>

<table class="table-mail">
  <tr>
    <th id="col_0"> #</th>
    <th id="col_1"><strong>Sent on:</strong></th>
    <th id="col_2"><strong>From:</strong></th>
    <th id="col_3"><strong>Content:</strong></th>
    <th id="col_4">Reply:</th>
    <th></th>

  </tr>
  <% count = 1 %>
<% @received_messages.each do |message| %>
  <tr>
    <td> <%= count %></td>
    <td><%= message.created_at.to_s.split(" ").first %></td>
    <td id="link"><%= link_to message.user.name, user_path(message.user_id)  %></td>
    <td><%= message.content %></td>
    <td><%= button_to "Reply", new_message_path(message.user_id), method: "get" %></td>

  </tr>
  <% count+=1 %>


<% end %>
</table>
