<h1>Message <%= @receiver.name  %>!</h1>
<div class="form-style-2">
<%= form_for @message do |f| %>
<li> <%= f.label :content %>
<%= f.text_area :content %> </li>
<%= f.hidden_field :match_id, value: params[:id] %>
<li><%= f.submit "Send Love" %></li>
<% end %>
