<h1>Sign up </h1>

<%=form_for @user do |f| %>
<%= f.label :name%>
<%= f.text_field :name %> <br>
<%= f.label :password%>
<%= f.password_field :password %> <br>
<%= f.label :city%>
<%= f.text_field :city %> <br>
<%= f.label :age%>
<%= f.number_field :age %> <br>
<%= f.label :sex%>
<%= f.text_field :sex %> <br>
<%= f.label :orientation%>
<%= f.text_field :orientation %><br>
<%= f.label :ethnicity%>
<%= f.text_field :ethnicity %><br>
<%= f.label :height%>
<%= f.number_field :height %><br>
<%= f.label :physical_shape %>
<%= f.text_field :physical_shape %><br>
<%= f.label :children %>
<%= f.text_field :children %><br>
<%= f.label :relationship%>
<%= f.text_field :relationship %><br>
<%= f.label :education%>
<%= f.text_field :education %><br>
<%= f.label :image%>
<%= f.text_field :image %><br>
<%= f.label :bio%>
<%= f.text_area :bio %><br>

<%= f.submit 'Submit' %>



<% end %>
