<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <li>Gender: <%= text_field_tag :gender, params[:search] %></li>
  <li>Age: <%= text_field_tag :age, params[:search] %></li>
  <li>Sexual Orientation<%= text_field_tag :sexual_orientation, params[:search] %></li>
  <li>Ethnicity: <%= text_field_tag :ethnicity, params[:search] %></li>

  <%= submit_tag "Search", :name => nil %>


  <% end %>
