<h1><%= @user.name %></h1>


<%= @user.age %><br>
<%= @user.sex %><br>
<%= @user.orientation %><br>
<%= @user.ethnicity %><br>
<%= @user.height %><br>
<%= @user.physical_shape %><br>
<%= @user.children %><br>
<%= @user.relationship %><br>
<%= @user.education %><br>
<%= @user.image %><br>
<%= @user.bio %><br>

<%= button_to "Find A Match!", users_path %>
