<div class="container">
  <div class="avatar-flip">
      <img id="profile_img" src="<%= @user.image %>"/>
      <img id="profile_img" src="<%= @gifs.sample %>"/>
  </div>

  <h1><%= @user.name %></h1>
  Bio: </h3><%= @user.bio %>
    <table>
      <tr>
        <td> <h3>Age: </h3><%= @user.age %></td>

        <td><h3>Gender: </h3><%= @user.sex %></td>

        <td><h3>Sexual Orientation: </h3><%= @user.orientation %></td>
        <td><h3>Ethnicity: </h3><%= @user.ethnicity %></td>
        <td><h3>Height: </h3><%= @user.height %></td>
      </tr>
      <tr>
        <td><h3>Physical shape: </h3><%= @user.physical_shape %></td>
        <td><h3>Children: </h3><%= @user.children %></td>
        <td><h3>Education: </h3><%= @user.education %></td>
        <td><h3>Interests: </h3></td>
        <% @user.interests.each do |interest| %>
        <%= interest.name %>
        <% end %>



      </tr>
    </table>

  <% if self.current_user == @user %>

    <%= link_to "Edit Profile", edit_user_path %>

    <li><%= link_to "Find A Match!", matches_path %>
    <% else %>
    <li> <%= link_to "Send me A Message", new_message_path %></li>

  <% end %>


</div>
