<h1><%= @user.name %></h1>

<div class="container">
  <div class="avatar-flip">
      <img id="profile_img" src="<%= @user.image %>" margin: 0 auto; style="max-width: 450px;"/>
  </div>
  <h1>- Bio -</h1>
  <div class='bio_text'><%= @user.bio %></div>
  <br><br>
    <table class='table'>
      <tbody>
      <tr> <%# first row %>
        <td>Age: <%= @user.age %> </td><%# first column %>
        <td>Height: <%= @user.height %></td><%# third column %>
      </tr>
      <tr><%# second row %>
        <td>Gender: <%= @user.sex %></td>
        <td>Physical shape: <%= @user.physical_shape %> </td>
      </tr>
      <tr><%# third row %>
        <td>Sexual Orientation: <%= @user.orientation %> </td>
        <td>Children: <%= @user.children %> </td>
      </tr>
      <tr><%# fourth row %>
        <td>Ethnicity: <%= @user.ethnicity %> </td>
        <td>Education: <%= @user.education %> </td>
      </tr>
    </tbody>
    </table>

    <h3>Interests: </h3>
    <h2> - &nbsp  <% @user.interests.each do |interest| %>
    <%= interest.name %> &nbsp
    <% end %> - </h2>
  <% if self.current_user == @user %>
    <%= button_to "Edit Profile", edit_user_path, method: "get" %>
    <br>
    <%= button_to "Find A Match!", matches_path, method: "get"  %>
    <% else %>
    <%= button_to "Send me A Message", new_message_path, method: "get"  %>
  <% end %>
</div>
