<!DOCTYPE html>
<html>
  <head>
    <title>FindADate</title>
     <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Questrial|Raleway');
    </style>
  </head>

  <body> <!--add background color for body -->
    <div id="header">
      <div id="navbar">
        <h1><a href="/"/>Find a Date</a></h1>
        <ul>

          <li class="button"><a href="/users"/>Users</a></li>

          <% if logged_in? %>

            <li class="button"><a href="/users/<%=session[:user_id]%>"/> Welcome, <%= User.find(session[:user_id]).name%> |</a></li>

            <li class="button"><%= link_to "Log Out  |", new_session_path, method: 'delete' %><li>

            <li class="button_sm">

                <%#  <img src="https://image.flaticon.com/icons/svg/138/138734.svg"/>
                %>
                <%= link_to "Inbox", received_messages_path %></li>
            <li class="button_sm"> <%= link_to "Outbox", sent_messages_path %></li>
            <li class="button_sm"> <%= link_to "My Matches", matches_path(session[:user_id]) %></li>

          <% else %>

            <li class="button"><%= link_to "Sign Up  |", new_user_path %></li>

            <li class="button"><%= link_to "Log In  |", new_session_path %></li>

          <% end %> </li>
        </ul>
      </div>
    </div>

    <div class="wrapper">

    <%= yield %>

    </div>
  </body>
</html>
